*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Inter", sans-serif;
}

nav {
    box-shadow: 4px 4px 10px black;
}

h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 80px;
}

article {
    text-align: center;
    width: 70%;
    margin: auto;
    color: white;
}


article,
h1,
footer {
    animation-name: load-in;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

header {
    width: 70%;
    margin: auto;
}

h2 {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 35px;
}

h3 {
    font-size: 20px;
}

ul li {
    list-style-type: none;
}

.knop {
    background-color: royalblue;
    color: white;
    padding: 10px;
    margin-top: 25px;
}

.mezelf {
    width: 50%;
}

.mezelf-img {
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

.inhoud {

}

@keyframes load-in {
    from {
        filter: blur(15px);
        transform: translate3d(0px, 200px, 0px);
        opacity: 0;
    }

    to {
        filter: blur(0px);
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

.card-text,
.card-title {
    color: black;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
}

.kaart:hover {
    transform: scale(1.05);
}

.kaart {
    transition: all 0.3s ease-in-out;
}

.responsive {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 576px) {
h1 {
    font-size: 50px;
    margin-top: 70px;
}


}

@media screen and (min-width: 768px){
    h1 {
        font-size: 70px;
        margin-top: 80px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }
}